{% extends 'layouts/general_layout.html' %}

<!doctype html>
<html lang="en">
    <head>
        <title>ABOUT</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            {% block content %}
            <h1>Sobre el Proyecto: </h1>
            <span class="text-black-500 font-bold text-lg">
                <br>Este Blog es el trabajo final que se realizo en el curso: Informatorio. 
Es un programa del Gobierno de la Provincia del Chaco que comenzó
en 2012 para capacitar en desarrollo web a jóvenes (y no tan jovenes, estoy en grupo "no tan").

<br>
<br>¡¡!!BIENVENIDOS!!¡¡ a este Blog,donde exploramos las ideas con ligereza,pero sin perder profundidad.
<br>
<br>Aquí, todo se mezcla, se teje de manera personal y subjetiva: desde los saberes
de las doctrinas orientales y las religiones occidentales, hasta pasajes de libros sagrados, 
conocimientos no oficiales, y pseudociencias (sí, incluso la psicología —léase con humor, porque con humor lo decimos—). 

<br>
<br>Bienvenidos a TEJER todo.
            </span>
            {% endblock content %}
        </header>
        <main></main>
        <footer>
            <!-- place footer here -->
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
