{% extends 'layouts/general_layout.html' %}

<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <header>
            {% block content %}
            <div style="background-color: blanchedalmond; display: flex; flex-direction: row; justify-content: space-between;">
                {% for category in categories %}
                <a href="{% url 'post:post_list' %}?category={{category.id}}">{{category.title}}</a>
                {% endfor %}
                <h1></h1>
            </div>
            <h1 style="font-family: serif; font-size: 50px; font-style: italic; color: black;">Blog <br><mark>TEJER todo</mark></h1>
        
            <!-- place navbar here -->
            <h2>Hecho con amor</h2>
            <br>
            <h3 style="font-style: italic; color: black; font-size: 20px;">Posts destacados:</h3>
            <br>
            <div class="container">
                <div class="row">
                    {% for post in random_posts %}
                        <div class="bg-gray-800 text-white rounded-2xl p-6">
                            <h3 class="text-2xl uppercase font-bold">{{post.title}}</h3>
                            <p>{{ post.content|truncatewords:20 }}</p>
                            {% if post.images.exists %}
                            <img width="100px" src="{{ post.images.first.image.url }}" alt="Imagen del post">
                            {% endif %}
                            <p>Publicado por: <strong class="font-bold">{{ post.author.username}}
                            </strong></p>
                            <p>Fecha de publicacion: {{ post.creation_date }}</p>
                            <p>Comentarios permitidos:  {{ post.allow_comments|yesno:"Si,No" }} </p>
                            <p>categoria: {{post.category}} </p>
                            <div class="flex gap-2 mt-8">
                                <a 
                                class="bg-red-500 text-white p-2 rounded-lg"
                                href="{% url 'post:post_detail' slug=post.slug %}"
                                >Leer más</a>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                </div>
            </div>
        {% endblock content %}
        </header>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
