<nav>
    <ul class="flex gap-4">
        <li><a href="{% url 'home' %}">Inicio</a></li>
        {% if user.is_authenticated %}
            <!-- Mostrar opciones si el usuario está autenticado -->
        <li><a href="{% url 'user:user_profile' %}">Perfiles</a></li>
        <li>
            <form method="POST" action="{% url 'user:auth_logout' %}">
                {% csrf_token %}
                <button type="submit">Cerrar sesion</button>
            </form>
        </li>
        {% else %}
        <!-- Mostrar opciones si el usuario NO está autenticado -->
        <li><a href="{% url 'user:auth_login' %}">Iniciar sesion</a></li>
        <li><a href="{% url 'user:auth_register' %}">Registrarse</a></li>
        {% endif %}
    </ul>
</nav>